# exposed ports
# nginx
WEB_PORT=3000
# API Python
API_PORT=8080
# MySQL Workbench
WORKBENCH_HTTP_PORT=3002
WORKBENCH_HTTPS_PORT=3001

# db env variables
MYSQL_DATABASE=gamestore
MYSQL_USER=gamestore
MYSQL_PASSWORD=gamestore
MYSQL_ROOT_PASSWORD=root

# api env variables
API_INTERNAL_PORT=8080
DB_HOST=db
DB_PORT=3306
DB_NAME=gamestore
DB_USER=gamestore
DB_PASSWORD=gamestore

